*{
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
body{
    margin: 0;
}
.topMost{
    background-color: hsl(0, 0%, 0%);
    overflow: auto;
    padding: 5px;
    z-index: 10;
}
.topMost span{
    color: blanchedalmond;
    font-family: 'Grandstander', cursive;
}
#address{
    float: left;
}
#phone{
    float: left;
    margin-left: 30px;
}
#timings{
    float: right;
}
nav{
    background-color: blanchedalmond;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    margin: 0;
    padding: 0;
    overflow: auto;
}
nav ul h1{
    display: inline-block;
    font-family: 'Grandstander';
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    margin: 0 30px 0 0;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    padding: 16px;
    cursor: pointer;
    font-family: 'Grandstander',cursive;
    font-weight: 600;
}
nav ul li:hover{
    background-color: black;
    color: blanchedalmond;
}
.orderNowButton{
    float: right;
    padding: 7px;
    width: 200px;
    margin: 5px;
    font-family: 'Grandstander',cursive;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(255, 100, 100);
    color: blanchedalmond;
    border-radius: 5px;
    cursor: pointer;
}
#user{
    float: right;
    line-height: 48px;
    margin: auto 20px;
}
#firstSection{
    width: 100%;
    height: 450px;
    background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.9) ),url(../media/MainImage2.jpg) no-repeat center center fixed;
    /* background-image: url(../media/MainImage2.jpg); */
    /* background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
}
#welcomeNote{
    color: blanchedalmond;
    font-size: 75px;
    margin: auto;
    font-family: 'PLayball', cursive;
    font-weight: 200;
    text-align: center;
}
#welcomeNoteTagline{
    color: blanchedalmond;
    text-align: center;
    font-size: 45px;
    font-family: 'PLayball', cursive;
    font-weight: 500;
    margin: auto;
}
#description{
    color: blanchedalmond;
    text-align: center;
    font-family: 'Grandstander', cursive;
    font-weight: 300;
    margin-top: 35px;
    font-size: 25px;
}
section article{
    position: relative;
    top: 30%;   
}
form{
    text-align: center;
    margin-top: 50px;
    position: sticky;
    top: 50px;
}
#bookATable{
    color: blanchedalmond;
    font-family: 'playball',cursive;
    font-weight: 100;
    font-size: 35px;
    margin: auto;
}
input{
    width: 18%;
    height: 30px;
    background-color: blanchedalmond;
    font-family: 'playball',cursive;
    border-radius: 10px;
    font-size: 20px;
    border: 0px;
    margin: auto 5px;
    text-align: center;
    color: black;
}
button[type = 'submit']{
    height: 35px;
    width: 15%;
    position: relative;
    bottom: 4px;
    font-family: 'Grandstander',cursive;
    font-weight: 700;
    padding: 0;
    font-size: 16px;
    background-color: rgb(93, 247, 93);
    border-radius: 5px;
}
#secondSection{
    width: 100%;
    height: 650px;
    background: linear-gradient( rgba(0,0,0,0.9), rgba(0, 0, 0, 0.1) ),url(../media/MainImage2.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}
.banners{
    width: 20%;
    display: inline-block;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 100px 50px;
    cursor: pointer;
}
#drinksLogo,#partyLoungeLogo{
    width: 100%;
}

#foodsLogo{
    width: 100%;
}
#drinks,#food,#partyLounge{
    font-family: 'playball',cursive;
    font-weight: 100;
    margin: auto;
}